.body {
    margin: 0;
    background-color: white;
}

.header {
    background-color: blue;
    color: white;
    padding: 20px;
}

.navbar {
    background-color: #555;
    padding: 15px;
    position: sticky;
    top: 0;
}

.navbar span {
    color: white;
    margin-right: 25px;

}

.circle {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50px;

}